body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  opacity: 100%;
  background-repeat: repeat;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}
#root {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.beckground-img {
  /* content: ""; */
  background-image: url('./magicCard.jpg');
  background-repeat: repeat;
  /* opacity: 0.5; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* z-index: -1; */
}